body {
    margin: unset;
    background-color: #f3f4f6;
    overflow-x: hidden;
}

#app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.promo {
    &--card {
        &__image {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 76px;
        }
    }
    &--detail {
        &__section {
            &__content {
                ul {
                    li {
                        background: url(../images/ic-rvr-list-bullet.svg) left top no-repeat !important;
                    }
                }
                img {
                    max-width: 100%;
                }
            }

            &__value {
                display: flex;
                flex-direction: row;

            }

            &__body {
                height: 66px;
                overflow: hidden;

                a {
                    color: #00c6ce;
                }

                p {
                    margin-top: 0px;
                }

                img {
                    max-width: 100%;
                }

                iframe {
                    width: 100%;
                }

                &-toggle {
                    margin-top: 4px;
                    margin-bottom: 0px;
                    color: #00c6ce;
                    font-size: 12px;
                    font-family: 'Eina01';
                }
            }
        }
    }

    &--location {
        background-color: white;
    }

    &--merchant-list {
        background-color: white;

        &__toggle {
            color: #00c6ce;
            font-size: 12px;
            font-family: 'Eina01';
        }

        &__sheet-title {
            font-family: 'Eina01';
            font-size: 18px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &__sheet-content {
            ul {
                margin-top: 10px;
                padding: 0px;
                list-style: none;

                li {
                    color: #666666;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.57;
                    letter-spacing: normal;
                    background: url(../images/ic-rvr-list-bullet.svg) left top no-repeat;
                    padding-left: 25px;

                    p {
                        margin: 0px;
                    }
                }
            }
        }
    }
}